<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Turismo Sena</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                    TURISMO SENA
                </a>
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/sites">Sites</a></li>
                    <li><a href="/sites">Hotels</a></li>
                    <li><a href="/sites">Operators</a></li>
                </ul>
            </div>

        </div>
    </nav>
    <main>
        <div class="jumbotron">
            <h1>Oops...</h1>
            <p><a class="text-muted" href="https://co.linkedin.com/in/cristian-david-vergara-gomez">By Crhistian Vergara</a></p>
        </div>
    </main>
    <section><p class="text-center"><%= err %></p></section>
    <footer>
        <p class="text-center text-muted"><a class="text-muted" href="https://co.linkedin.com/in/cristian-david-vergara-gomez">© Copyright 2019 Crhistian David Vergara Gomez</a></p>
    </footer>
</body>

</html>

<!-- CSS (load bootstrap from a CDN) -->